@import 'tailwindcss';

html {
	scroll-behavior: smooth !important;
}

@theme {
	--color-white: #f5f2f2;
	--color-creamWhite: #fffbf7;
	--color-black: #26251e;
	--color-gray: #868484;
	--color-accentOne: #375ae8;
	--color-accentTwo: #dfddce;
	--color-green: #56e376;
	--breakpoint-3xl: 2000px;
	--font-arial: Arial, sans-serif;
	--font-cormorant: var(--font-cormorant);
	--font-librecaslon: var(--font-librecaslon) --animate-ripple: ripple 1.5s infinite;

	@keyframes ripple {
		0% {
			transform: scale(1);
			opacity: 0.6;
		}

		100% {
			transform: scale(3);
			opacity: 0;
		}
	}
}

.gradient {
	background-image: linear-gradient(0deg, hsl(0deg 13% 95%) 0%, hsl(10deg 25% 94%) 33%, hsl(19deg 31% 92%) 52%, hsl(28deg 31% 90%) 68%, hsl(38deg 28% 87%) 83%, hsl(53deg 21% 84%) 100%);
}

.line {
	@apply bg-[url("/images/line.svg")] bg-bottom bg-no-repeat;
}

.heading {
	@apply text-4xl md:text-4xl lg:text-5xl font-bold font-librecaslon;
}

.divContainer {
	@apply flex flex-col justify-center items-center w-full h-full max-w-6xl mx-auto py-20;
}

.gradientTwo {
	background-image: linear-gradient(
		180deg,
		hsl(228deg 79% 56%) 1%,
		hsl(228deg 79% 57%) 29%,
		hsl(228deg 78% 58%) 41%,
		hsl(228deg 77% 59%) 50%,
		hsl(228deg 76% 60%) 58%,
		hsl(228deg 75% 61%) 64%,
		hsl(228deg 74% 63%) 71%,
		hsl(228deg 73% 64%) 76%,
		hsl(228deg 72% 65%) 82%,
		hsl(228deg 70% 66%) 87%,
		hsl(228deg 69% 67%) 91%,
		hsl(228deg 68% 68%) 96%,
		hsl(228deg 66% 69%) 100%
	);
}
